[submodule "openmaptiles"]
	path = openmaptiles
	url = https://github.com/OpenPlaceGuide/openmaptiles.git
[submodule "tileserver-gl/tileserver-gl"]
	path = tileserver-gl/tileserver-gl
	url = https://github.com/OpenPlaceGuide/tileserver-gl.git
[submodule "tileserver-gl/styles/osm-bright-gl-style"]
	path = tileserver-gl/styles/osm-bright-gl-style
	url = https://github.com/OpenPlaceGuide/osm-bright-gl-style.git
	branch = building-names
